.page_wrapper {
  display: flex;
}

.page_wrapper:last-child {
  flex-direction: column;
}

.aside-home {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
  width: 5%;
  height: 100vh;
  background-color: transparent;
  color: #002f5f;
  min-width: 85px;
  border-right-color: rgba(123, 123, 123, 0.203);
  border-right-width: 1px;
  border-right-style: solid;
}

.aside-home ul {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  justify-items: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
}

.aside-home li * {
  text-align: left;
  display: flex;
  color: rgb(28, 21, 53);
}

#dark .aside-home li * {
  color: #808080;
}

.aside-home li {
  border-style: solid;
  border-left-width: 2px;
  margin-left: -40px;
}

.aside-home li:last-child {
  border-style: none !important;
  border-left-width: 0px;
}

.aside-links {
  padding: 20px 30px 20px 30px;
}

.aside-home li > svg {
  transition: all 300ms ease-in-out;
  width: 70px;
  height: 70px;
  color: white;
}

.aside-home li:hover > svg {
  transform: scale(120%);
  transition: all 300ms ease-in-out;
}

.search_background {
  width: 100vw;
  height: 100vh;
  top: 0px;
  background: rgb(35, 33, 33);
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  position: absolute;
  justify-content: center;
  display: flex;
  align-items: center;
  transition: all 300ms ease-in;
}

.search_link {
  position: relative;
  z-index: 99;
}

.close_icon {
  position: absolute;
  right: 40px;
  top: 40px;
}

.search_bar {
  height: auto;
  margin-top: -400px;
  width: 50%;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.search_bar h3 {
  font-size: 15px;
}

@media screen and (max-width: 900px) {
  .page_wrapper {
    display: flex;
    flex-direction: column;
  }

  .aside-home {
    display: none;
  }
}
