.celebrities {
  gap: 20px;
  width: 100%;
  height: 300px;
  overflow-x: scroll;
  margin-top: 20px;
  display: flex;
  scrollbar-width: none;
}

.celebrities::-webkit-scrollbar {
  width: 0px !important;
  background-color: transparent !important;
}

.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.person_icon {
  display: flex;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  min-height: 200px;
  background-size: cover;
  background-position: center;
  position: relative;
  align-items: center;
}

.number {
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 100%;
  background: linear-gradient(90deg, #7f5af0, #2cb67d);
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
