.footer_wrapper {
  height: 30vh;
  width: 100%;
  background-color: rgb(203, 203, 203);
}

#dark .footer_wrapper {
  background-color: black;
  color: white;
}

.footer_wrapper hr,
.footer_wrapper h3 {
  margin-left: 140px;
  margin-right: 50px;
}

.footer_wrapper h3 {
  text-align: right;
  font-size: 13px;
  font-weight: 100;
  color: rgb(68, 68, 68);
}

.footer_wrapper hr {
  margin-top: 30px;
  margin-bottom: 20px;
}

.footer_content {
  display: flex;
  margin-left: 140px;
  justify-content: space-between;
  padding: 0px;
  gap: 10px;
  margin-right: 50px;
  margin-top: 40px;
}

.footer_content h2 {
  width: 100% !important;
  font-weight: 100;
  font-family: var(--font-satoshi);
}

.footer_content p {
  color: rgb(68, 68, 68);
  font-size: 13px;
  font-weight: 100;
  margin-top: 15px;
}

.footer_icon {
  display: flex;
  gap: 20px;
}

.footer_content-left {
  width: 20%;
}

.footer_content img {
  width: 50px !important;
  height: 50px;
}

.footer_content span {
  font-size: 25px;
}

.footer_links {
  display: flex;
  gap: 20px;
  text-transform: uppercase;
}

.footer_links a {
  color: black !important;
  letter-spacing: 3px;
  font-size: 13px;
}

#dark .footer_links a {
  color: white !important;
}

@media screen and (max-width: 900px) {
  .footer_wrapper {
    display: none;
  }

  .footer_wrapper_mobile {
    display: block;
    height: auto;
    width: 100%;
    text-align: center;
    background-color: rgb(203, 203, 203);
  }
  #dark .footer_wrapper_mobile {
    background-color: black;
    color: white;
  }

  .footer_content {
    flex-direction: column;
    width: 100%;
  }

  .footer_wrapper hr,
  .footer_wrapper h3 {
    margin-left: 0px;
    margin-right: 0px;
  }

  .footer_content {
    display: flex;
    margin-left: 0px;
    justify-content: space-between;
    padding: 0px;
    gap: 10px;
    margin-right: 0px;
    margin-top: 0px;
  }

  .footer_content ul {
    text-align: center;
    padding-left: 0px !important;
  }

  .footer_content li {
    padding: 20px;
    text-transform: uppercase;

    color: white !important;
  }

  #dark .footer_content a {
    color: rgb(112, 112, 112) !important;
  }

  .footer_content a {
    color: black !important;
    letter-spacing: 4px;
    font-size: 13px;
  }

  .footer_icon {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 40px;
  }

  .footer_content h3 {
    font-size: 15px !important;
    font-weight: 100;
    padding: 40px;
    color: rgb(112, 112, 112);
  }
}
