.movies_grid {
  display: flex;
  padding-top: 20px;
  gap: 20px;
  margin: auto;
  margin-left: 140px;
  flex-wrap: wrap;
  height: fit-content;
  margin-bottom: 40px;
}

.slider_single_box {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border-radius: 10px;
}

.slider_single_box img {
  display: block;
  width: 12vw;
  height: 18vw;
  min-height: 300px;
  max-height: 300px;
  min-width: 200px;
  max-width: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.slider_single_box p {
  max-width: 200px;
}

.button_genres {
  align-items: center;
  display: flex;
  justify-items: center;
  justify-content: center;
  padding: 0px;
  width: 100%;
  padding: 4px !important;
  border-radius: 20px !important;
  background: linear-gradient(90deg, #7f5af0, #2cb67d);
}

.genres_box {
  padding-top: 40px;
  margin-left: 8%;
  width: 90%;
}

.heading_genres {
  margin-left: 8%;
  width: auto;
  padding-top: 30px;
  text-align: center;
}

.genres_box ul {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
  margin: auto;
}

.genres_box li {
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  background: linear-gradient(90deg, #7f5af0, #2cb67d);
  border-radius: 15px;
}

@media screen and (max-width: 900px) {
  .movies_grid {
    margin-left: 33px;
  }
  .fade_effect {
    width: 50px;
  }

  .slider_single_box img {
    display: block;
    width: 40vw;
    height: 60vw;
    min-height: 100px;
    max-height: 300px;
    min-width: 100px;
    max-width: 200px;
    object-fit: cover;
    border-radius: 10px;
  }

  .slider_single_box p {
    max-width: 200px;
    width: 40vw;
  }

  .genres_box {
    padding-top: 40px;
    margin: auto;
    width: 90%;
  }

  h1 {
    font-size: 2rem;
  }
}
