.home_section {
  color: rgb(28, 21, 53);
  width: 100%;
  height: auto;
  position: relative;
}

.home_content {
  margin-left: 30px;
  margin-top: -45vh;
}

#dark .home_section {
  color: white;
}

.home-section-one_mobile {
  display: none;
}

.home-section-one {
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh !important;
  width: 100%;
  max-width: 100% !important;
  padding-top: 15vh;
  position: relative;
}

.home-section-one_skeleton {
  margin-top: -210px !important;
}

.trending_container {
  position: absolute;
  height: 100vh;
  top: 57vh;
  margin-left: 140px;
  overflow-x: hidden;
  width: 88vw;
}

.bio {
  width: 40vw;
  margin-top: 0vh;
  margin-bottom: 50px;
  margin-left: 140px;
  z-index: 10;
  position: relative;
}

.bio h2 {
  margin: 0;
  font-size: 60px;
}

.rating {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.shadow-gradient {
  width: 100%;
  background: linear-gradient(360deg, #f3eae5, #00000000);
  height: 70vh;
  position: absolute;
  bottom: 0px;
}

.shadow-gradient-bio {
  width: 60%;
  top: 0;
  z-index: -0;
  position: absolute;
  height: 100%;
  background: linear-gradient(90deg, #f3eae5, #03ff9600);
}

#dark .shadow-gradient-bio {
  background: linear-gradient(90deg, #16161a, #03ff9600);
}

#dark .shadow-gradient {
  background: linear-gradient(360deg, #16161a, #03ff9600);
}

.home_content {
  margin-left: 140px;
}

.button_view {
  margin-top: 20px !important;
  padding: 10px 40px 8px 40px !important;
  width: 20%;
}

.reviews {
  border-radius: 12px !important;
  background-color: white;
  height: 100%;
  width: 100%;
  min-height: 20vh;
  padding: 0px 20px 20px 20px;
}

.review_content:first-child {
  overflow-y: scroll;
  height: 10vh !important;
}

.reviews:nth-child(5) .review_content {
  overflow-y: scroll;
  height: 32vh !important;
}

.reviews:nth-child(1) {
  grid-row-end: span 2;
  grid-row-end: span 1;
}

.reviews:nth-child(2) {
  grid-column-end: span 2;
  grid-row-end: span 1;
}

.reviews:nth-child(5) {
  grid-column-end: span 1;
  grid-row-end: span 2;
}

.reviews:nth-child(6) {
  grid-column-end: span 2;
  grid-row-end: span 1;
}

.reviews_title {
  margin-top: 5rem;
}

.review_wrapper {
  display: grid;
  margin-top: 1rem;
  margin-bottom: 10rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 4fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-right: 50px;
  width: 95%;
  height: 60vh;
}

.review_wrapper p {
  font-size: 15px;
}

.icon_name {
  display: flex;
  align-items: center;
  gap: 20px;
  height: auto;
  position: sticky;
  top: 0px;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: white;
}

.icon_name p {
  font-size: 17px;
  font-weight: 600;
  font-style: italic;
}

.author {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.author_info {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.reviews .Rating {
  width: 30px;
  font-size: 20px;
}

@media screen and (max-width: 1000px) {
  .review_wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 10rem;
    gap: 2%;
    width: 95%;
    height: auto;
  }

  .reviews {
    position: relative;
    border-radius: 12px !important;
    background-color: white;
    height: 100%;
    width: 49%;
    padding: 0px 20px 20px 20px;
    margin-bottom: 7px;
    min-height: 25vh;
  }
}

@media screen and (max-width: 900px) {
  .home_section {
    color: rgb(28, 21, 53);
    width: 100%;
    height: auto;
    position: relative;
  }

  .home-section-one {
    display: none;
  }

  .overview {
    display: none;
  }

  .bio {
    width: 70%;
    margin-top: 0vh;
    margin-bottom: 10px;
    margin-left: 30px;
    z-index: 10;
    position: relative;
  }

  .trending_container {
    position: absolute;
    height: 100vh;
    top: 60vh;
    margin-left: 30px;
    overflow-x: hidden;
    width: 89%;
  }

  .bio h2 {
    margin: 0;
    font-size: 35px;
  }

  .trending_container {
    position: absolute;
  }

  .rating {
    margin-top: 5px;
    display: flex;
    gap: 10px;
    font-size: 13px;
    margin-bottom: 0px;
  }
  .css-ryrseu-MuiRating-root {
    font-size: 20px !important;
  }

  .shadow-gradient {
    width: 100%;
    background: linear-gradient(360deg, white, #00000000);
    height: 70vh;
    position: absolute;
    bottom: 0px;
  }

  .shadow-gradient-bio {
    display: block;
    width: 60%;
    top: 0;
    z-index: 0;
    position: absolute;
    height: 100%;
    background: linear-gradient(90deg, white, #03ff9600);
  }

  #dark .shadow-gradient-bio {
    background: linear-gradient(90deg, #16161a, #03ff9600);
  }

  #dark .shadow-gradient {
    background: linear-gradient(360deg, #16161a, #03ff9600);
  }

  .home_content {
    margin-left: 30px;
    margin-top: -20vh;
  }

  .home-section-one_mobile {
    display: block;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    padding-top: 30vh;
    width: 100%;
  }

  .button_view {
    margin-top: 20px !important;
    padding: 10px 40px 8px 40px !important;
    width: 30%;
  }
}

@media screen and (max-width: 650px) {
  .reviews {
    position: relative;
    border-radius: 12px !important;
    background-color: white;
    height: 30%;
    width: 100%;
    padding: 0px 20px 20px 20px;
  }
}
