@import url("https://api.fontshare.com/v2/css?f[]=satoshi@500&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=quilon@400&display=swap");

.navbar-home {
  display: none;
}

.navbar_container {
  background-color: transparent;
  height: 50px;
  position: fixed;
  padding: 20px 30px 20px 30px;
  z-index: 90;
  width: 100%;
}

.navbar_container svg {
  color: white !important;
}

.navbar_links {
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
}

/* NAVBAR OPEN */

.navbar_open {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: top 0.5s ease-in-out;
}

.navbar_open .active {
  top: 0;
}

.navbar_open_links {
  justify-content: center;
  display: flex;
  padding-left: 0px;
  gap: 30px;
  align-items: center;
  flex-direction: column;
}

.logo_desktop,
.logo_mobile {
  font-size: 1.8rem;
  font-family: "Quilon", sans-serif;
  letter-spacing: 0.9px;
  background: linear-gradient(90deg, #7f5af0, #2cb67d);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo_mobile {
  display: none;
}

a,
li,
ul {
  text-decoration: none;
  list-style-type: none;
  font-family: "Satoshi", sans-serif;
  letter-spacing: 0.9px;
}

.search-bar {
  padding: 17px;
  padding-left: 20px;
  padding-right: 60px;
  width: 30rem;
  height: 15px;
  border-radius: 100px;
  border: #00264c;
  border-style: solid;
  border-width: 1px;
  gap: 10px;
  display: flex;
  align-items: center;
}

.search-bar:nth-child(1) {
  color: #2cb67d;
}

.search-bar p {
  color: grey;
  font-size: 13px;
}

.switch_container {
  align-items: center !important;
  display: flex;
  justify-content: center;
  height: fit-content;
  width: 100%;
}

.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase,
.Mui-checked,
.MuiSwitch-track {
  background-color: #444;
}

.MuiSwitch-thumb {
  background-color: gray;
}

.MuiSwitch-track {
  background-color: #444;
}

/* .Mui-checked .MuiSwitch-thumb {
  background-color: gray;
  background-image: url("path/to/moon.svg");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: center;
}

.MuiSwitch-colorSecondary.Mui-checked .MuiSwitch-thumb {
  background-image: url("path/to/sun.svg");
} */

.switch {
  align-items: center !important;
  display: flex;
  flex-direction: column;
  transform: rotate(90deg);
}

.react-switch-bg div {
  align-items: center !important;
  display: flex !important;
}

.react-switch-bg svg {
  color: white;
  width: 20px;
  height: auto;
}

.moon {
  margin-left: 3px;
}

.sun {
  margin-left: 8px;
}

.main-page {
  display: flex;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .navbar-home {
    display: block;
  }
}
