@import url("https://api.fontshare.com/v2/css?f[]=satoshi@500&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=quilon@400&display=swap");

.navbar-home {
  display: none;
}

.navbar_container {
  background-color: transparent;
  height: 50px;
  position: fixed;
  padding: 20px 30px 20px 30px;
  z-index: 90;
  width: 100%;
  transition: all 300ms ease-in;
}

.navbar_container svg {
  color: white !important;
}

.navbar_links {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding-left: 0px;
}

/* NAVBAR OPEN */

.navbar_open {
  width: 300px;
  height: auto;
  background-color: white;
  z-index: 99;
  padding: 20px 20px 10px 20px;
  position: absolute;
  top: 15px;
  left: 15px;
  border-radius: 8px;
}

#dark .navbar_open {
  background-color: #16161a;
}

.navbar_close {
  transition: all 300ms ease-in;
  width: 50%;
  top: 15px;
  left: 15px;
}

.navbar_open_links_container {
  padding: 30px 20px 20px 30px;
  width: 100%;
}

.navbar_open_flex {
  display: flex;
}

.navbar_open_links {
  display: flex;
  padding-left: 0px;
  gap: 20px;
  color: white !important;
  flex-direction: column;
  justify-content: center;
}

#dark .navbar_open_links li a {
  color: white !important;
}

.navbar_open_links li a {
  color: black !important;
}

#dark .navbar_open_flex svg {
  color: white !important;
}

.navbar_open_flex svg {
  color: black !important;
}

.logo_desktop,
.logo_mobile {
  font-size: 1.8rem;
  font-family: "Quilon", sans-serif;
  letter-spacing: 0.9px;
  background: linear-gradient(90deg, #7f5af0, #2cb67d);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo_mobile {
  display: none;
}

a,
li,
ul {
  text-decoration: none;
  list-style-type: none;
  font-family: "Satoshi", sans-serif;
  letter-spacing: 0.9px;
}

.search-bar {
  padding: 17px;
  padding-left: 20px;
  padding-right: 60px;
  width: 30rem;
  height: 15px;
  border-radius: 100px;
  border: #00264c;
  border-style: solid;
  border-width: 1px;
  gap: 10px;
  display: flex;
  align-items: center;
}

.search-bar:nth-child(1) {
  color: #2cb67d;
}

.search-bar p {
  color: grey;
  font-size: 13px;
}

.switch_container {
  align-items: center !important;
  display: flex;
  justify-content: center;
  height: fit-content;
  width: 100%;
  padding-top: 20px;
}

.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase,
.Mui-checked,
.MuiSwitch-track {
  background-color: #444;
}

.MuiSwitch-thumb {
  background-color: gray;
}

.MuiSwitch-track {
  background-color: #444;
}

.MuiSwitch-thumb {
  background-position: center;
  background-size: contain;
  width: 35px !important;
  height: 35px !important;
  background-color: #002f5d !important;
}

.MuiSwitch-thumb {
  background-image: url("/icons/sun.png");
}

.Mui-checked > .MuiSwitch-thumb {
  background-image: url("/icons/moon.png");
}

.MuiSwitch-root {
  width: 75px !important;
  height: 44px !important;
}

.MuiSwitch-track {
  border-radius: 10px !important;
}

.MuiTouchRipple-root {
  margin-left: 10px;
  border-radius: 100% !important;
  width: 20px !important;
  width: 20px !important;
  display: none;
}

.MuiSwitch-switchBase {
  padding: 0px !important;
  margin-top: 4px !important;
  margin-left: 10px !important;
  margin-right: 3px !important;
  border-radius: 30px !important;
}

/* .Mui-checked .MuiSwitch-thumb {
  background-color: gray;
  background-image: url("path/to/moon.svg");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: center;
}

.MuiSwitch-colorSecondary.Mui-checked .MuiSwitch-thumb {
  background-image: url("path/to/sun.svg");
} */

.switch {
  align-items: center !important;
  display: flex;
  flex-direction: column;
  transform: rotate(90deg);
}

.react-switch-bg div {
  align-items: center !important;
  display: flex !important;
}

.react-switch-bg svg {
  color: white;
  width: 20px;
  height: auto;
}

.moon {
  margin-left: 3px;
}

.sun {
  margin-left: 8px;
}

.main-page {
  display: flex;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .navbar-home {
    display: block;
  }
}
