.pages_main {
  padding-top: 6rem;
  display: flex;
  width: 95%;
  margin: auto;
  gap: 40px;
  position: relative;
}

/* ----------- ASIDE COMPONENT ------------- */

.aside_pages {
  width: 280px;
  min-width: 280px;
  border-radius: 20px;
  height: 270px;
  min-height: 270px;
  position: sticky;
  top: 90px;
  padding: 10px;
}

#dark .aside_pages {
  background-color: #001e3c;
}

#dark .Divider {
  border-color: black !important;
}

.aside_pages a,
.aside_pages ul,
.aside_pages li {
  color: black;
}

.Button {
  font-size: 1.4rem !important;
  text-transform: none !important;
  justify-content: space-between !important;
  border: 0px solid black !important;
}

.Icon {
  color: black;
}

#dark .Icon {
  color: white;
}

#dark .aside_pages a,
#dark .aside_pages ul,
#dark .aside_pages li {
  color: white;
}

.aside_list li {
  margin-top: 20px;
  font-size: 20px;
}

/* -------------------- CATEGORIES SLIDERS -------------------- */

.pages_all_sliders_container {
  overflow-x: hidden;
}

.category_title {
  padding-bottom: 1.5rem;
  font-size: 25px;
  display: flex;
  align-items: center;
  gap: 10px;
}

#dark .category_title {
  color: white;
}

.pages_slider_container {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}

.pages_slider,
.pages_skeleton {
  width: 100%;
  min-width: 50vw;
  margin: auto;
  justify-content: flex-start;
  height: auto;
  overflow-x: scroll;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  align-items: flex-start;
  scrollbar-width: none;
}

.pages_skeleton span {
  min-width: 200px;
  min-height: 280px;
  margin-bottom: 5rem;
}

@media screen and (max-width: 1200px) {
  .aside_pages {
    display: none;
  }
}
