/* --------------- PAGE WRAPPER --------------- */

.results_page {
  width: 75%;
  margin: auto;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(28, 21, 53);
}

.results_page p {
  color: rgb(28, 21, 53);
}

#dark .results_page p {
  color: white;
}

.search_search-page-results {
  width: 100%;
}

.results_for {
  text-align: center;
  margin-top: 30px;
}

#dark .results_for {
  color: white;
}

.search_search-page {
  display: block;
}

.desc {
  margin-top: 10px;
}

/* --------------- RESULTS --------------- */

.results_container {
  padding-top: 2rem;
}

.results {
  width: 100%;
  height: auto;
  padding-bottom: 30rem;
}

.single_result {
  width: 800px;
  height: 300px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 20px;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

#dark .single_result {
  background-color: #001e3c;
}

.single_result img {
  width: 200px;
  height: 300px;
  min-height: 300px;
  max-height: 300px;
  min-width: 200px;
  max-width: 200px;
  object-fit: cover;
}

.single_result p {
  color: black;
}

#dark .single_result p {
  color: white;
}

.fade_effect_results {
  left: 6.3rem;
  top: 0;
  background: linear-gradient(90deg, transparent, #ffffff);
}

#dark .fade_effect_results {
  background: linear-gradient(90deg, transparent, #001e3c) !important;
}

.bg_desktop {
  display: block;
}

.result_desc {
  padding: 20px;
  padding-top: 30px;
}

.title_date > .title_film {
  font-size: 25px;
}

.title_date {
  display: flex;
  gap: 8px;
}

.title_date_mobile {
  display: none;
}

.date {
  font-size: 15px;
  margin-top: 8px;
}

.genre_rating > p {
  color: #a1a1a1;
}

#dark .genre_rating > p {
  color: #a5a5a5;
}

#dark .Rating .css-1c99szj-MuiRating-icon {
  color: #6a6a6a;
}

.genre {
  font-size: 13px;
}

.genre_rating {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  text-transform: uppercase;
  align-items: center;
}

.desc_container {
  color: #6a6a6a !important;
  overflow-y: scroll;
  height: 15vh;
}

#dark .desc_container {
  color: #d7d7d7 !important;
}

/* ------------------ LOADING PAGE -------------- */

.loading_results {
  height: 100vh;
  font-size: 20px;
  text-align: center;
}

.loading_results p {
  padding-top: 5rem;
  margin-bottom: 5rem;
}

#dark .loading_results {
  color: white;
}

/* ------------------ ERROR -------------- */

.error_results {
  margin-top: 50px;
  text-align: center;
}

#dark .error_results {
  color: white;
}

.error_results > p {
  margin-top: 10px;
  color: #6a6a6a;
}

/* ------------------ NO MOVIES FOUND -------------- */

.no_movies_found {
  height: 100vh;
  font-size: 20px;
  color: #6a6a6a;
  margin-top: 70px;
}

@media screen and (max-width: 1074px) {
  .results_container {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .desc {
    display: none;
  }

  .css-1c99szj-MuiRating-icon {
    color: #6a6a6a;
  }

  .results {
    width: auto;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .single_result {
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    display: block;
    width: 200px;
    position: relative;
    margin-bottom: 0px;
  }

  .fade_effect_results {
    display: none;
  }

  .result_desc {
    padding: 0px;
    padding-top: 4px;
    display: block;
    text-align: center;
  }

  .title_date,
  .genre_rating {
    display: block;
  }

  .title_date > .title_film {
    font-size: 16px;
  }

  .result_desc {
    position: absolute;
    top: 0;
    padding: 0;
  }

  .title_date {
    display: none;
  }

  .title_date_mobile {
    text-align: center;
    width: 200px;
    max-width: 200px;
    display: block;
    margin-top: 10px;
  }

  .date {
    margin-top: 3px;
  }

  #dark .title_date_mobile {
    color: white;
  }

  .bg {
    background: linear-gradient(to top, #001e3cba, #001e3c);
    height: 300px;
    padding: 15px;
    display: flex;
    min-width: 200px;
    flex-direction: column-reverse;
  }

  .desc_container {
    height: 250px;
    font-size: 14px;
  }

  .search_search-page {
    display: none;
  }

  .desc_container p {
    color: white;
  }

  .genre_rating {
    margin-bottom: 0px;
    margin-top: 10px;
  }

  .bg_desktop {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .search_search-page-results {
    display: none;
  }
}

@media screen and (max-width: 435px) {
  .single_result {
    height: 450px;
    overflow: hidden;
    border-radius: 10px;
    display: block;
    width: 300px;
    position: relative;
    margin-bottom: 0px;
  }

  .css-1c99szj-MuiRating-icon {
    color: #6a6a6a;
  }

  .single_result img {
    height: 450px;
    width: 300px;
    min-height: 450px;
    max-height: 450px;
    min-width: 300px;
    max-width: 300px;
    object-fit: cover;
  }

  .title_date_mobile {
    width: 100%;
    width: 300px;
    max-width: 300px;
  }
  .bg {
    height: 400px;
  }

  .desc_container {
    height: 450px;
    font-size: 17px;
  }
}
