.search-bar_page {
  height: 100vh;
  width: 100%;
  background-color: white;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 20px 30px 20px 30px;
}

#dark .search-bar_page {
  background-color: #16161a;
}

.search-bar_page svg {
  color: black !important;
}

#dark .search-bar_page svg {
  color: white !important;
}

.search_mb {
  width: 100%;
  height: 50px;
}

.search_input_mobile {
  width: 70%;
  font-size: 20px !important;
}

.search-bar_page svg {
  color: white;
}

.search-icon_mobile {
  width: 70px;
  margin-right: 20px;
  margin-left: 20px;
}
