/* ---------------- SEARCH BAR HOMEPAGE -------------- */

.search {
  width: 60vw;
  display: flex;
  align-items: center;
  border-radius: 3rem;
  justify-content: start;
  padding-top: 25px;
  padding-bottom: 25px;
  background: #fffffe;
  box-shadow: 0px 2.3px 10px rgba(0, 0, 0, 0.291),
    0px 18px 80px rgba(0, 0, 0, 0.45);
  overflow: hidden;
  height: 3.5rem;
  margin-top: 10px;
  position: relative;
}

#dark .search {
  background: #16161a;
  box-shadow: 11px 12.5px 20.3px rgba(0, 0, 0, 0.065),
    88px 100px 162px rgba(0, 0, 0, 0.13);
}

.search input {
  flex: 1;
  border: none;
  font-size: 1.5rem;
  font-family: var(--font-raleway);
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  outline: none;
  width: fit-content;
  color: #a1a1a1;
  background: #fffffe;
}

#dark .search input {
  background: #16161a;
}

.search input::placeholder {
  font-size: 19px;
}

.search_icon_container {
  background: linear-gradient(90deg, #7f5af0, #2cb67d);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 3.5rem;
  cursor: pointer;
  position: absolute;
  right: 0;
}

.search-icon {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .search {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 150%;
  }
  .search_icon_container {
    width: 70px;
  }

  .search input::placeholder {
    font-size: 15px;
  }
}

/* ---------------- SEARCH BAR SEARCH PAGE -------------- */

.search {
  width: 70%;
  display: flex;
  align-items: center;
  border-radius: 3rem;
  justify-content: start;
  padding-top: 25px;
  padding-bottom: 25px;
  background: #fffffe;
  box-shadow: 0px 2.3px 10px rgba(0, 0, 0, 0.291),
    0px 18px 80px rgba(0, 0, 0, 0.45);
  overflow: hidden;
  height: 3.5rem;
  position: relative;
}

#dark .search {
  background: #16161a;
  box-shadow: 0px 2.3px 10px rgba(0, 0, 0, 0.291),
    0px 18px 80px rgba(0, 0, 0, 0.45);
}

.search input {
  flex: 1;
  border: none;
  font-size: 1.5rem;
  font-family: var(--font-raleway);
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  outline: none;
  width: fit-content;
  color: #a1a1a1;
  background: #fffffe;
}

#dark .search input {
  background: #16161a;
}

.search input::placeholder {
  font-size: 19px;
}

.search_icon_container {
  background: linear-gradient(90deg, #7f5af0, #2cb67d);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 3.5rem;
  cursor: pointer;
  position: absolute;
  right: 0;
}

.search-icon {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .search {
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
    margin-top: 15px;
  }
  .search_icon_container {
    width: 70px;
  }

  .search input::placeholder {
    font-size: 15px;
  }
}
