.single-item_page {
  width: 100%;
  height: 100vh;
}

.background_single-item {
  height: 50vh;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
}

.background_single-item > .shadow-gradient-bio {
  width: 40% !important;
}

.sigle-item_desc {
  width: 75%;
  margin-top: 10px;
}

.single-item_card_mobile {
  display: none;
}

h5 {
  font-size: 25px;
  font-weight: 100;
  margin-bottom: 3px;
}

.single-item_page h5,
.single-item_page p,
.single-item_page h4,
.single-item_page span,
.single-item_page svg {
  color: black;
}

#dark .single-item_page h5,
#dark .single-item_page p,
#dark .single-item_page h4,
#dark .single-item_page span,
.single-item_page svg {
  color: white;
}

.watchers svg {
  fill: black;
}

#dark .watchers svg {
  fill: white;
}

.tagline {
  padding-bottom: 15px;
  font-size: 15px;
}

.watchers {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.single-item_card {
  position: relative;
  z-index: 11;
  width: 60%;
  padding-top: 30vh;
  margin: auto;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.single-item_card h4 {
  font-size: 40px;
  font-weight: 600;
  font-family: var(--font-author);
}

.single-item_bio {
  display: flex;
  gap: 30px;
  display: 100%;
}

.bio_second-row {
  display: flex;
  gap: 10px;
}

.Rating svg {
  color: #faaf00 !important;
}
.shadow-gradient_single-item {
  width: 100%;
  background: linear-gradient(360deg, #f3eae5, #03ff9600);
  height: 30vh;
  z-index: 10;
  position: absolute;
  bottom: 0px;
}

#dark .shadow-gradient_single-item {
  background: linear-gradient(360deg, #16161a, #03ff9600);
}

.MuiDivider-fullWidth {
  border-width: 0.5px;
  border-color: rgba(167, 167, 167, 0.45) !important;
}

.single-item_poster img {
  width: 13vw;
  margin-top: 10px;
  border-radius: 10px;
}

.details {
  display: flex;
  flex-direction: column;
}

.single-item_details-cast,
.cast_members {
  display: flex;
}

.single-item_details-cast {
  margin-top: 10px;
  gap: 100px;
  margin-bottom: 20px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.cast {
  gap: 13px;
  display: flex;
  flex-direction: column;
}

.cast h5,
.details h5 {
  margin-bottom: 15px;
}

.cast_members {
  align-items: center;
  gap: 15px;
}

.cast_members div {
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  padding: 1px;
  background-size: cover;
  background-position: center;
}

.storyline {
  margin-bottom: 20px;
}

.storyline_movie {
  margin-top: 10px;
}

.storyline h5,
.episode h5,
.storyline p {
  margin-bottom: 20px;
}

.seasons {
  margin-top: 15px;
}

.storyline_episode {
  display: flex;
  gap: 40px;
}

.episode img {
  width: 20vw;
}

.recs,
.recs_tv {
  margin-top: 5rem;
  width: 90%;
  margin-left: 10rem;
  color: white;
  margin-bottom: 5rem;
}

.recs h5 {
  margin-bottom: 10px;
  color: black;
}

#dark .recs h5 {
  color: white;
}

.recs_tv {
  margin-top: 20rem;
}

.single_item_card_mobile {
  display: none;
}

@media screen and (max-width: 900px) {
  .shadow-gradient-bio {
    display: none;
  }

  .single-item_details-cast {
    margin-top: 10px;
    gap: 20px !important;
    margin-bottom: 10px;
  }

  .single-item_page {
    width: 100%;
    height: auto;
  }

  .background_single-item {
    display: none;
  }

  .poster_single-item {
    height: 70vh;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
  }
  .single-item_card {
    display: none;
  }
  .single-item_genres {
    margin: 20px 0px 20px 0px;
  }

  .single-item_details-cast {
    margin-top: 10px;
    gap: 100px;
    margin-bottom: 20px;
    flex-direction: column;
  }

  .cast_members div {
    align-items: center;
    width: 2vw;
    min-width: 50px;
    min-height: 50px;
    height: 2vw;
    border-radius: 100%;
    padding: 1px;
    background-size: cover;
    background-position: center;
  }

  .single-item_card_mobile {
    display: block;
    position: relative;
    z-index: 11;
    width: 80%;
    padding-top: 10px;
    margin: auto;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .new_bio {
    width: 90%;
    margin: auto;
    justify-content: center;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 0px !important;
  }

  .single-item_card_mobile h4 {
    font-size: 24px;
    text-align: center;
  }

  .tagline {
    text-align: center;
  }

  .single-item_title {
    display: none;
  }

  .shadow-gradient_poster {
    width: 100%;
    background: linear-gradient(360deg, #f3eae5, #03ff9600);
    height: 60vh;
    z-index: 10;
    bottom: 0;
    position: absolute;
  }

  .watchers div {
    display: flex;
  }

  .shadow-gradient_single-item {
    display: none;
  }

  .sigle-item_desc {
    width: 100%;
  }

  .recs,
  .recs_tv {
    margin-top: 5rem;
    width: 90%;
    margin-left: 40px;
    color: white;
  }

  #dark .shadow-gradient_poster {
    background: linear-gradient(360deg, #16161a, #03ff9600);
  }
}
