.single-item_page {
  width: 100%;
  height: 100vh;
}

.background_single-item {
  height: 60vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(360deg, #16161a, #03ff9600);
}

.sigle-item_desc {
  width: 100%;
  margin-top: 10px;
}

h5 {
  font-size: 25px;
  font-weight: 100;
  margin-bottom: 3px;
}

.single-item_page h5,
.single-item_page p,
.single-item_page h4,
.single-item_page span {
  color: black !important;
}

#dark .single-item_page h5,
#dark .single-item_page p,
#dark .single-item_page h4,
#dark .single-item_page span {
  color: white !important;
}

.watchers svg {
  fill: black;
}

#dark .watchers svg {
  fill: white;
}

.tagline {
  padding-bottom: 15px;
  font-size: 15px;
}

.watchers {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.single-item_card {
  position: relative;
  z-index: 11;
  width: 60%;
  padding-top: 30vh;
  margin: auto;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.single-item_card h4 {
  font-size: 23px;
  font-weight: 200;
}

.single-item_bio {
  display: flex;
  gap: 30px;
  display: 100%;
}

.shadow-gradient_single-item {
  width: 100%;
  background: linear-gradient(360deg, rgb(220, 220, 220), #03ff9600);
  height: 20vh;
  margin-top: -190px;
  z-index: 10;
  position: relative;
}

#dark .shadow-gradient_single-item {
  background: linear-gradient(360deg, #16161a, #03ff9600);
}

.MuiDivider-fullWidth {
  border-width: 0.5px;
  border-color: rgba(167, 167, 167, 0.45) !important;
}

.single-item_poster img {
  width: 13vw;
  margin-top: 10px;
}

.details {
  display: flex;
  flex-direction: column;
}

.single-item_details-cast,
.cast_members {
  display: flex;
}

.single-item_details-cast {
  margin-top: 10px;
  gap: 100px;
  margin-bottom: 20px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.cast {
  gap: 13px;
  display: flex;
  flex-direction: column;
}

.cast h5,
.details h5 {
  margin-bottom: 15px;
}

.cast_members {
  align-items: center;
  gap: 15px;
}

.cast_members div {
  align-items: center;
  width: 2vw;
  height: 2vw;
  border-radius: 100%;
  padding: 1px;
  background-size: cover;
  background-position: center;
}

.storyline {
  margin-bottom: 20px;
}

.storyline_movie {
  margin-top: 10px;
}

.storyline h5,
.episode h5,
.storyline p {
  margin-bottom: 20px;
}

.seasons {
  margin-top: 15px;
}

.storyline_episode {
  display: flex;
  gap: 40px;
}

.episode img {
  width: 20vw;
}

.recs,
.recs_tv {
  margin-top: 30rem;
  width: 90%;
  margin-left: 10rem;
  color: white;
}

.recs h5 {
  margin-bottom: 10px;
}

.recs_tv {
  margin-top: 40rem;
}
