.skeleton_homepage {
  width: 90%;
  min-width: 90vw;
  margin: auto;
  justify-content: flex-start;
  height: auto;
  overflow-x: scroll;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  align-items: flex-start;
  scrollbar-width: none;
  padding-bottom: 4rem;
}

.skeleton_homepage span {
  min-width: 200px;
  min-height: 280px;
}

@media screen and (max-width: 600px) {
  .linear-gradient {
    width: 50px;
  }
}
