.pages_all_sliders_container {
  overflow-x: hidden;
}

.pages_slider:hover {
  scrollbar-width: auto;
}

.slider {
  width: 100%;
  margin-left: 0%;
}

.category_title {
  padding-bottom: 1.5rem;
  font-size: 25px;
  display: flex;
  align-items: center;
  gap: 10px;
}

#dark .category_title {
  color: white;
}

.pages_slider_container {
  position: relative;
  margin-bottom: 20px;
}

.pages_slider_container_media {
  margin-left: 8%;
}

.pages_slider,
.pages_skeleton {
  width: 100%;
  min-width: 50vw;
  margin: auto;
  justify-content: flex-start;
  height: auto;
  overflow-x: scroll;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  align-items: flex-start;
  scrollbar-width: none;
}

.pages_skeleton span {
  min-width: 200px;
  min-height: 280px;
  margin-bottom: 5rem;
}

@media screen and (max-width: 1200px) {
  .aside_pages {
    display: none;
  }
}
