.trailers {
  height: 40vh;
  background-image: url(../assets/peaks.png);
  background-size: full;
}

.section_container {
  margin: auto;
  overflow-x: scroll;
  height: 40vh;
}

.trailers h3 {
  color: white;
}

.videos_wrapper {
  display: flex;
  align-items: center;
  width: 90%;
  min-width: 90%;
  margin: auto;
  margin-top: 25px;
  display: flex;
  justify-content: start;
  margin: auto;
  gap: 20px;
  margin-top: 30px;
}

.link_container {
  width: auto;
}

.video_container {
  background-size: cover;
  width: 20rem;
  height: 20vh;
  border-radius: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: all 300ms ease-in-out;
  box-shadow: 3.2px 2px 1.6px rgba(0, 0, 0, 0.036),
    7.3px 4.5px 3.6px rgba(0, 0, 0, 0.06),
    12.7px 7.9px 6.3px rgba(0, 0, 0, 0.075),
    20.2px 12.5px 10px rgba(0, 0, 0, 0.083),
    31.1px 19.3px 15.5px rgba(0, 0, 0, 0.085),
    48.5px 30.1px 24.1px rgba(0, 0, 0, 0.084),
    80.6px 50px 40px rgba(0, 0, 0, 0.079), 161px 100px 80px rgba(0, 0, 0, 0.07);
}

.trailers h4 {
  text-align: center;
  margin-top: 10px;
}

.video_container:hover {
  transform: scale(110%);
  transition: all 300ms ease-in-out;
}

.video_container > svg {
  transition: all 300ms ease-in-out;
  color: white;
}

.video_container:hover > svg {
  transform: scale(120%);
  transition: all 300ms ease-in-out;
}

@media screen and (min-width: 1400px) {
  .videos_wrapper {
    justify-content: space-evenly;
  }
}
