.trailers {
  background-size: full;
  margin: 0;
  padding-top: 50px;
}

.videos_container:hover {
  scrollbar-width: auto;
}

.videos_container {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 25vw;
  min-height: 230px;
  max-height: 410px;
  display: flex;
  justify-content: start;
  gap: 20px;
  overflow-x: scroll;
  scrollbar-width: none;
  transition: all 300ms ease-in-out;
}

.videos_container::-webkit-scrollbar {
  width: 0px !important;
  background-color: transparent !important;
}

.video_container {
  background-size: cover;
  background-position: center;
  width: 35vw;
  height: 20vw;
  min-width: 300px;
  min-height: 160px;
  max-width: 600px;
  max-height: 360px;

  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  transition: all 300ms ease-in-out;
}

.link_container {
  object-fit: fill;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 9;
  transition: all 300ms ease-in-out;
}

.video_container:hover {
  transform: scale(102%);
  transition: all 300ms ease-in-out;
}

.video_container > svg {
  transition: all 300ms ease-in-out;
  width: 70px;
  height: 70px;
  color: white;
}

.video_container:hover > svg {
  transform: scale(120%);
  transition: all 300ms ease-in-out;
}
