@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://api.fontshare.com/v2/css?f[]=satoshi@700&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=quilon@400&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=author@1&display=swap");

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  max-width: 2000px;
  background-color: #16161a;
  margin: auto;
}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
  --light-grey: "#72757e";
  --purple: "#7f5af0";
  --green: "#2cb67d";
  --font-satoshi: "Satoshi", sans-serif;
  --font-author: "Author", sans-serif;
}

body {
  font-family: var(--font-satoshi);
  position: relative;
  font-weight: 500;
}

.App {
  height: auto;

  background-image: url("/bg-light.png");
  background-position: center;
}

#dark {
  background-color: #16161a;
  background-image: url("/dark.png");
}

h1 {
  font-size: 3.5rem;
  font-family: var(--font-author);
  letter-spacing: 0.9px;
  color: white;
  width: fit-content;
  text-shadow: 0px 2.3px 10px rgba(0, 0, 0, 0.291),
    0px 18px 80px rgba(0, 0, 0, 0.45);
  z-index: 3;
}

h2 {
  width: 96%;
  margin: auto;
  font-weight: 600;
  font-family: var(--font-author);
}

.media_title {
  color: rgb(28, 21, 53);
}

#dark .media_title {
  color: white;
}

.heading {
  position: relative;
  z-index: 10;
  font-size: 20px;
  margin: 0;
  margin-bottom: 15px;
  color: rgb(28, 21, 53);
}

.bio {
  color: rgb(28, 21, 53);
}

#dark .heading,
#dark .bio,
#dark .bio_movies {
  color: white;
}

.media_title {
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
}

#dark .media_title {
  color: white;
}

.slider_single_box {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border-radius: 10px;
}

.slider_single_box img {
  display: block;
  width: 12vw;
  height: 18vw;
  min-height: 300px;
  max-height: 300px;
  min-width: 200px;
  max-width: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.fade_effect {
  width: 100px;
  background-color: black;
  height: 300px !important;
  position: absolute;
  z-index: 5;
  background: linear-gradient(90deg, transparent, #eaeaea);
  right: 0;
  top: 0px;
}

#dark .fade_effect {
  background: linear-gradient(90deg, transparent, #16161a);
}

.error {
  text-align: center;
  height: 300px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .fade_effect {
    width: 50px;
  }

  .slider_single_box img {
    display: block;
    width: 40vw;
    height: 60vw;
    min-height: 100px;
    max-height: 300px;
    min-width: 100px;
    max-width: 200px;
    object-fit: cover;
    border-radius: 10px;
  }

  h1 {
    font-size: 2rem;
  }
}
